<<<<<<< HEAD
/**************** HEADER *********************/
		
=======

>>>>>>> f9c2abed2f98b7c814f6f23f1d154d9a145de181


/* Signup */



/* Index */

#index_main {
	width:1000px;
}
#index_menu {
	
	padding:10px;
	width:180px;
	float:left;
	margin-left: 20px;
}
#index_menu img {
	-webkit-box-shadow: 0 0 2px 2px rgba(255,255,255,0.3);
	display:block;
	margin-bottom:10px;
	cursor:pointer;
}
#index_zoom {
	width:700px;
	float:left;
	position:relative;
}
#index_zoom img {
	-webkit-box-shadow: 0 0 2px 2px rgba(255,255,255,0.3);
	position:absolute;
	left:100px;
	
}
#index_description
{
	width:80%;
	margin-top: 500px;
	margin-left: 100px;
}



/* Contact */

#contact
{
border : 1px solid rgba(173,134,105,1);
	float:left
}
#contact_coordonne
{
float:left
}