/* SESSION/START */
#session {
	height:100%;
	width:100%;
	margin-top:20px;
	text-align:center;
}
#session_loading {
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:rgba(255,255,255,0.8);
	font-size:20px;
	font-weight:bold;
	display:none;
	color:#888;
	text-align:center;
	padding-top:20%;
	z-index:1000;
}


/* SESSION/GET CLIENT */
#session_canvas {
	height : 550px;
	width : 800px;
	border : 1px solid rgba(173,134,105,1);
	margin : 1px;
	-webkit-box-shadow: 0 0 3px 3px rgba(255,255,255,0.3);
}
#session_debug {
	height:30px;
	width:100%;
	overflow-y:scroll;
	border:1px solid rgba(173,134,105,0.8);
	margin-top:8px;
	background-color:rgba(0,0,0,0.8);
	color:rgba(150,255,150,0.8);
	margin-left:3px;
	text-align:left;
	font-size:10px;
}

/* ADMIN/INDEX */
#admin {
	height:100%;
	width:100%;
	margin-top:20px;
	text-align:center;
}
#admin_out{
	height:100%;
	width:100%;
	margin-top:20px;
	text-align:center;
	padding:10px;
}
#admin h1 {
	font-size:28px;;
}