/**
 * HTML5 ? Boilerplate
 */

html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border-style:none;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
html { overflow-y: scroll; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
a:hover, a:active { outline: none; }
a:hover { color: #888; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
b, strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre {
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}
.ie6 legend, .ie7 legend { margin-left: -7px; } 
button, input, select, textarea { width: auto; overflow: visible; margin: 0; font-size: 100%; font-family: sans-serif; vertical-align: baseline; }
textarea { overflow: auto; vertical-align:text-top; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
input::-moz-focus-inner,
button::-moz-focus-inner { border: 0; padding: 0; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid {  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
.ie7 img { -ms-interpolation-mode: bicubic; }
body, select, input, textarea {
  color: #444;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }
::-moz-selection { background: #eef; color:#444; text-shadow: none; }
::selection { background:#eef; color:#444; text-shadow: none; }

/**********************************************/
/**********************************************/
/*******************  MY CSS  *****************/
/**********************************************/
/**********************************************/
html {
background:url(../../img/Background2.jpg) 0 0 no-repeat;
background-attachment:fixed;
background-size: cover;
text-shadow: 2px 2px #101010;
}

#page { width:1024px; margin:auto; margin-top:50px; background:url(../../img/bois2.png); border:3px solid #7b5641; border-radius:10px;}
body { color:#FFF;}
.clear { clear:both; width:100%; }

#header, #content, #footer { width:100%; position:relative; } 
#header, #footer { height:80px; }

/**************** HEADER *********************/

/*#header #menu { width:600px; position:absolute; top:20px; left:212px;  }
#header #menu ul li { display:inline; margin-left:10px; position:relative; }
#header #menu ul li .title { display:none; position:absolute; top:20px; left:-20px; width:150px; text-align:left; }
#header #menu ul li:hover .title { display:inline; }*/

/**************** CONTENT ********************/
#content { width:1014px; }

/**************** FOOTER *********************/
#footer {  width:1014px; text-align:center; }

/**********************************************/
/**********************************************/
/***************  END OF MY CSS  **************/
/**********************************************/
/**********************************************/
/**
 * Placeholder media queries for responsive design. Modify as design requires.
 * These follow after, and will override, the primary ('mobile first') styles
 * The closing /mediaquery comment is required by respond.js min/max-width Media Query polyfill
 */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}/*/mediaquery*/

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}/*/mediaquery*/



/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

footer {
line-height : 93px;
}